body {
    background-color: #fff;
}
main {
    margin: auto;
    padding: 1em;
    width: 700px;
    min-width:50vh ;
    background-color: #fff;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 

}
h1 {
    color: #aaa;
    text-transform: uppercase;
}