body{
    background-color: skyblue;
}

main{
    
    min-height: 100vh;
}
section{
    background-color: #fff;
    color: #333;
    padding: 0.5em;
}
ul, li{
    list-style: none;

}
li:: before {
content: '-';
font-weight: bold;
}
h1{ 
    font-style: italic;
    color: skyblue;
}